<div class="page-layout blank p-24" fusePerfectScrollbar>

  <div id="forms" class="page-layout simple fullwidth" fxLayout="column">

      <!-- HEADER -->
      <div class="header accent p-24 h-100" fxLayout="row" fxLayoutAlign="start center">
          <div fxLayout="column" fxLayoutAlign="center start">
              <div fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon class="secondary-text s-18">home</mat-icon>
                  <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                  <span class="secondary-text">List of teams</span>
              </div>
              
          </div>
      </div>
      <!-- / HEADER -->

      <!-- CONTENT -->
      <ng2-smart-table 
            [settings]="settings" 
            [source]="teams" 
            (deleteConfirm)="onDeleteConfirm($event)"
            (custom)="onCustom($event)">
           
          </ng2-smart-table>
         
  
      <!-- / CONTENT -->

  </div>


  
<label>selected team is {{ name }} </label>
<ng2-smart-table 
[settings]="settings1" 
[source]="projectsWteam" 
(deleteConfirm)="onDeleteConfirm($event)"
(custom)="onAssign($event)"
(custom2)="onDetail($event)"
(editConfirm)="onEditConfirm($event)"> 
</ng2-smart-table>






</div>