
 <div class="page-layout blank p-24" fusePerfectScrollbar>

  <div id="forms" class="page-layout simple fullwidth" fxLayout="column">

      <!-- HEADER -->
      <div class="header accent p-24 h-100" fxLayout="row" fxLayoutAlign="start center">
          <div fxLayout="column" fxLayoutAlign="center start">
              <div fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon class="secondary-text s-18">home</mat-icon>
                  <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                  <span class="secondary-text">Config Descriptors Validation</span>
              </div>
              
          </div>
      </div>
      <ng2-smart-table 
      [settings]="settings" 
      [source]="configDescriptors" 
      (deleteConfirm)="onDeleteConfirm($event)"
      (custom)="onCustom($event)"
      
      > 
    </ng2-smart-table>