<div class="page-layout blank p-24" fusePerfectScrollbar>

  <div id="forms" class="page-layout simple fullwidth" fxLayout="column">

      <!-- HEADER -->
      <div class="header accent p-24 h-100" fxLayout="row" fxLayoutAlign="start center">
          <div fxLayout="column" fxLayoutAlign="center start">
              <div fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon class="secondary-text s-18">home</mat-icon>
                  <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                  <span class="secondary-text">Add Project</span>
              </div>
              
          </div>
      </div>
      <!-- / HEADER -->

    
  </div>
  <div>
    <p>Add Project</p>
    <form [formGroup]="ProjectForm" (ngSubmit)="onSubmit()"> 
     
      <div class="form-group row">
    <mat-form-field appearance="outline" fxFlex="20">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name"   required  >
    
     
  </mat-form-field>

  </div>
  <div class="form-group row">
  <mat-form-field appearance="outline" fxFlex="20">
    <mat-label>description</mat-label>
    <input matInput  formControlName="description" required>

</mat-form-field>
  </div>
  <div class="form-group row">
    <mat-form-field appearance="fill">
      <mat-label>Start Date of Project</mat-label>
    <input matInput [matDatepicker]="startDate"  placeholder="Choose a date" (dateChange)="startDateChanged($event)">
    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
  <mat-datepicker #startDate></mat-datepicker>
 
  
  
  </mat-form-field>
    </div>



  
    <div class="form-group row">
      <mat-form-field appearance="fill">
        <mat-label>End Date of Project</mat-label>
      <input matInput [matDatepicker]="endDate" placeholder="Choose a date" (dateChange)="endDateChanged($event)" >
      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
    <mat-datepicker #endDate></mat-datepicker>
   
    
    </mat-form-field>
      </div>

    
     

 






  <div class="form-group row">
  <button mat-raised-button color="primary">Create Project</button>
  {{ startDerror }}
</div>

  
</form>
  


</div>

</div>


 





